
<% unless @cart_items.blank? %>

  <% remote_form_for :cart, :url => { :action => :update } do |f| %>
    <input type="image" src="/sitepics/pix.gif" />
    <table cellpadding="0" cellspacing="0" width="100%" border="0" class="shoppingCart">
      <tr>
        <th width="3%">&nbsp;</th>
        <th colspan="2">Product description</th>
        <th align="center" width="15%">Price</th>
        <th align="center" width="5%">Qty</th>
        <th align="center" width="15%">Total</th>
      </tr>

      <% @cart_items.each do |cart_item| %>
        <tr>
          <td><%= check_box_tag "remove[]", cart_item.id, false, { :id => nil } %></td>
          <td width="130">
            <center>
              <%= link_to_unless(cart_item.permalink.blank?, image_tag(cart_item.image_url, :alt => cart_item.name), "/products/#{cart_item.permalink}") %>
            </center>
          </td>
          <td><b><%= h(cart_item.name) %></b></td>
          <td align="center"><%= number_to_currency(cart_item.price) %></td>
          <td align="center"><%= text_field_tag "quantity[#{cart_item.id}]", cart_item.quantity, { :class => 'textField qtyField', :style => 'width: 40px;', :onclick => "this.select();" } %></td>
          <td align="center"><%= number_to_currency(cart_item.full_price) %></td>
        </tr>
      <% end %>

      <tr class="totalRow">
        <td>&nbsp;</td>
        <td style="text-align: center;"><a href="/products" title="">Continue shopping</a></td>
        <td >&nbsp;</td>
        <td align="right" colspan="3" style="padding-right: 15px; padding-top: 15px; padding-bottom: 15px;">
          <table cellpadding="0" cellspacing="0" class="total">
						<% if false -%>
							<!--
	            <tr>
	              <td align="right">Bank Transfer Total:</td>
	              <td align="right"><span class="redPrice"><%= number_to_currency(current_cart.total_price_wire) %></span></td>
	            </tr>
	            <tr>
	              <td align="right">Credit Card Total:</td>
	              <td align="right"><span class="redPrice"><%= number_to_currency(current_cart.total_price_cc) %></span></td>
	            </tr>
							-->
						<% end -%>
            <tr>
              <td align="right">Subtotal:</td>
              <td align="right"><span class="redPrice"><%= number_to_currency(current_cart.total_price) %></span></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <table cellpadding="0" cellspacing="5" width="100%" border="0">
      <tr>
        <td width="15%"><%= submit_to_remote 'delete', '', :url => { :action => 'delete' }, :html => { :class => 'button btDelete' } %></td>
        <td width="15%"><%= submit_to_remote 'update', '', :url => { :action => 'update' }, :html => { :class => 'button btUpdate' }  %></td>
        <td><a href="/checkout" class="button btCheckout right" title=""></a></td>
      </tr>
    </table>

  <% end %>
<% else %>
  <p>Your cart is empty.</p>
<% end %>
