
<% unless @current_order.cart.cart_items.blank? -%>
  <b>PRODUCTS INFO:</b><br /><br />
  <table cellpadding="0" cellspacing="0" width="100%" border="0" class="shoppingCart">
    <tr>
      <th align="left">Product</th>
      <th align="center" width="15%">Price</th>
      <th align="center" width="5%">Qty</th>
      <th align="center" width="15%">Total</th>
    </tr>

    <% @current_order.cart.cart_items.each do |cart_item| -%>
      <tr>
        <td width="130" style="padding-top: 15px; padding-bottom: 15px;"><b><%=h cart_item.name %></b></td>
        <td align="center"><%= number_to_currency(cart_item.price) %></td>
        <td align="center"><%= cart_item.quantity %></td>
        <td align="center"><%= number_to_currency(cart_item.full_price) %></td>
      </tr>
    <% end -%>
    
    <tr class="totalRow">
      <td align="left">
        <a href="/products" title="">Continue Shopping</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/cart" title="">Edit Cart</a>
      </td>
      <td align="right" colspan="3" style="padding-right: 15px;">
        <table cellpadding="0" cellspacing="0" class="total">
          <tr>
            <td align="left">Items:</td>
            <td align="right"><%= number_to_currency(@current_order.items_price) %></td>
          </tr>
          <tr>
            <td align="left">Shipping:</td>
            <td align="right"><%= display_price_or_free(@current_order.delivery_price) %></td>
          </tr>
          <tr>
            <td align="left">Total:</td>
            <td align="right"><span class="redPrice"><span class="redPrice"><%= number_to_currency(@current_order.total_price) %></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  
<% end -%>
