
<% form_for :testimonial, :url => url do |f| -%>
  <%= f.error_messages %>

  <table class="form">
    <tr>
      <td class="label">Customer:</td>
      <td class="field"><%= f.text_field :customer, :class => "f-input" %></td>
    </tr>
    <tr>
      <td class="label">Text:</td>
      <td class="field"><%= f.text_area :text, :rows => 5, :class => "f-input" %></td>
    </tr>
    <tr>
      <td class="label">Active:</td>
      <td class="field"><%= f.check_box :is_active %></td>
    </tr>
  </table>

  <p><%= f.submit "Submit" %><p>
<% end -%>


<%= link_to "Back To List", { :action => "list" }, :class => "action-link-text back" %>
<% unless @testimonial.new_record? -%>
	<%= link_to "View", { :action => "view", :id => @testimonial }, :class => "action-link-text view" %>
<% end -%>
<div class="clear"></div>

