<% title "Products Catalog" %>

<p>
  <b><%= link_to "New Category", { :action => "new_category" }, :class => "action-link-text add" %></b>
  <b><%= link_to "New Product", { :action => "new_item" }, :class => "action-link-text add" %></b>
</p>
<div class="clear"></div>

<div id="categories_div">
  <%= render :partial => "table_categories" %>
</div>

<div id="items_div">
  <%= render :partial => "table_items" %>
</div>

<div id="not_found">
  <%= render :partial => "not_found" %>
</div>

<% javascript 'jquery-1.3.2.min.js', 'jquery.tablednd_0_5.js', 'init_table_dnd.js', 'table-interface.js' %>
<% content_for(:head) do -%>
  <% javascript_tag do -%>
    initTableDnD('categories_table', '<%= url_for :action => "shift_category" %>');

		<% if @search_mode == "items" -%>
    	initTableDnD('items_table', '<%= url_for :action => "shift_item_position" %>');
		<% elsif @search_mode == "items_on_home" -%>
			initTableDnD('items_table', '<%= url_for :action => "shift_item_position_on_home" %>');
		<% end -%>

    initTableInterface('categories_table');
    initTableInterface('items_table');
  <% end -%>
<% end -%>

