<% title "User" %>

<table class="items">
  <tr>
    <td class="label">E-mail:</td>
    <td class="field"><%= auto_link @user.email, :all, :target => "_blank" %></td>
  </tr>
	<tr>
	  <td class="label">First Name:</td>
	  <td class="field"><%=h @user.first_name %></td>
	</tr>
	<tr>
	  <td class="label">Last Name:</td>
	  <td class="field"><%=h @user.last_name %></td>
	</tr>
	<tr>
	  <td class="label">Company:</td>
	  <td class="field"><%=h @user.company %></td>
	</tr>
  <tr>
    <td class="label">Address:</td>
    <td class="field">
      <%=h @user.address1 %>
      <% unless @user.address2.blank? -%>
        <br /><%=h @user.address2 %>
      <% end -%>
    </td>
  </tr>
  <tr>
    <td class="label">City:</td>
    <td class="field"><%=h @user.city %></td>
  </tr>
  <tr>
    <td class="label">State:</td>
    <td class="field"><%=h @user.state %></td>
  </tr>
  <tr>
    <td class="label">Zip:</td>
    <td class="field"><%=h @user.zip %></td>
  </tr>
  <tr>
    <td class="label">Phone:</td>
    <td class="field"><%=h @user.phone %></td>
  </tr>
  <tr>
    <td class="label">Fax:</td>
    <td class="field"><%=h @user.fax %></td>
  </tr>
  <tr>
    <td class="label">Note:</td>
    <td class="field"><%=h @user.note %></td>
  </tr>
  <tr>
    <td class="label">Active:</td>
    <td class="field"><%= yes_no(@user.is_active) %></td>
  </tr>
</table>

<%= link_to "Back To Users", { :action => "list" }, :class => "action-link-text back" %>
<%= link_to "Edit User", { :action => "edit", :id => @user }, :class => "action-link-text edit" %>
<%= link_to "Delete User", { :action => "delete", :id => @user }, :class => "action-link-text delete", :confirm => 'Are you sure?' %>
<%= link_to "New User", { :action => "new" }, :class => "action-link-text add" %>
<div class="clear"></div>






