
<% if @items_count > 0 -%>

<% block_caption ||= "Products" %>

<div class="contentBaseBlock">
	<div class="contentBaseBlockHeader"><%= block_caption %></div>
	<div class="contentBaseBlockData">
		
		<table cellpadding="0" cellspacing="0" border="0" width="100%" class="items">
		<% items_rows = items.in_groups_of(4, nil) %>
		<% items_rows.each_with_index do |items_row, i| -%>
		  <tr>
		    <% items_row.each_with_index do |item, j| -%>
		      <% unless item.nil? -%>
		        <td <% if j!=3 %>class="borderRight"<% end %> style="width: 25%;">

		          <div class="item">
		            <span class="itemCaption"><%=h item.name %></span><br/>

		            <span class="grey"><%=h item.sku %></span><br/>
		            <a href="/<%= link %>/<%= item.permalink %>" title="">
									<% item_image = !item.images.blank? ? item.images[0] : item.images.new  %>
									<img src="<%= item_image.file.url(:thumb) %>" alt=""/>
								</a>

		            <% if !item.retail_price.blank? && item.retail_price > item.price %>
		              <br/>
		              <span class="grey">List price: <%= number_to_currency item.retail_price %></span>
		            <% end %>

                <br/>
		            <span class="redPrice">Our price: <%= number_to_currency item.price %></span>
		            <br/>
		            <a href="/<%= link %>/<%= item.permalink %>" title="">View more</a>

                <br/>
		            <%= link_to "", "/products/add_to_cart/#{item.id}", :class => "button btAddToCart" %>
		          </div>

		        </td>
		      <% else -%>
		        <td style="width: 25%;">&nbsp;</td>
		      <% end -%>
		    <% end -%>
		  </tr>
		  <% if i!=(items_rows.size-1) -%>
		    <tr><td colspan="4" class="tableContentSpacer"><img src="/sitepics/spacer.gif" alt=""/></td></tr>
		  <% end -%>
		<% end -%>
		</table>

		<center>
			<p class="pagination">
			  <% if items.total_pages > 1 -%>
					<%= will_paginate @items, :container => false %>
			  <% end -%>
			</p>
		</center>

	</div>
</div>
<div class="blockSpacerRightColumn"></div>
<% end -%>
